<div class="team-body">
	<br>
	<br>
	<br>
	<br>
	<h1 class="about-header">SEETHRU Team</h1>

<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Adi.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Adi Segal, Co-Founder & CEO <%= link_to 'https://www.linkedin.com/in/aysegal/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">The management team is led by Adi Segal who founded the company after leaving medical school. Adi currently works at Genoa Telepsychiatry, a healthtech startup and the nation’s largest provider of outpatient telepsychiatry. Prior to launching SeeThru, Adi served as COO of DN Telehealth and completed a term as Entrepreneur in Residence at Mount Sinai’s Icahn School of Medicine, where he helped spin off a mobile healthcare platform. A graduate of Columbia University, Adi began his career working on healthcare economics and access to care issues at The Leukemia & Lymphoma Society. He brings a unique blend of experience from urban studies, experiential education, outdoor adventure leadership and teambuilding, environmental advocacy, and Emergency Medical Services.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Federico.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Federico Ulfo, Co-Founder & CTO
 			<%= link_to 'https://www.linkedin.com/in/federicoulfo/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Federico is full stack developer with over two decades of experience. He has also been a blockchain enthusiast and crypto investor since 2013. Federico is passionate about utilizing blockchain technology to bring about societal change. He has worked with many startups and established companies to build systems platforms in the adtech and healthcare spaces. Recently, Federico designed a platform to monitor the crypto trading markets and used predictive analytics to determine the strength of active ICOs.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "al2.jpg", class: "team-pic" %>	
			<h4 class="team-name-header">Alajuwon (AL) Thomas, Co-Founder &  Tech Lead 
 			<%= link_to 'https://www.linkedin.com/in/alajuwon-thomas-4a8521a0/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Alajuwon is co-founder of TREND (Top Resources Empowering New Directions), a web development shop that focuses on small businesses. TREND helps businesses grow through innovative web design and internet marketing. Al is a full-stack developer who completed the Tech-Talent South four-month Bootcamp. He specializes in frontend and backend frameworks; specific languages include HTML, CSS, Bootstrap, JQUERY, JSON, and Ruby on Rails. He also has knowledge of Git and terminal navigation. Al received recognition for teaching the Kids Code program at Tech-Talent South. He has also completed courses in audio engineering, music production, and sound design at Atlanta Institute of Music & Media. Alajuwon is passionate about solving the world’s complex problems through strategic, people-centered software. In his spare time, Al is launching Kids Circuit, a coding school and springboard for underprivileged youth.</p>  
			</div>
		</div><!-- end of row -->

		<br>
		<br>

		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Priyank.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Priyank Sharma, MD, Medical Director <%= link_to 'https://www.linkedin.com/in/priyank-sharma-3a45041a/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Priyank is currently serves COO of VidaFuel, where they make snacks that allow for dietary compliance and improve outcomes for chronic patients. He is the founder of Laminar Health and serves as the COO of Smyrna Cardiovascular Center in Tennessee. After medical school Priyank worked as a consultant at BCG. He holds bachelor degrees in biomedical engineering as well as psychology from the University of Southern California. Priyank graduated as a Doctor of Medicine from the University of Pennsylvania.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Jeremy.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Jeremy Springer, Front End Developer
 			<%= link_to 'https://www.linkedin.com/in/jeremy-springer-973015104/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Jeremy is a front-end developer with vast experience in UX/UI design and web optimization. Jeremy graduated from Missouri State University with a BS in Psychology and a minor in Computer Science. Before switching to a tech career, Jeremy worked two years in the Mental Health field.</p>  
			</div>
		</div><!-- end of row -->

		<br>
		<br>

		<div class="underline3"></div>

		<h1 class="about-header">SEETHRU Team Advisors</h1>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Marina.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Marina Tarasova <%= link_to 'https://www.linkedin.com/in/marina-tarasova-45004b1/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Marina is a healthcare marketing leader who has launched innovative products across life science and consumer health companies in both Fortune 500 and startup teams. Marina specializes in product and brand development, go to market strategy, and executing marketing & sales plans leveraging analytics. Marina has worked at Johnson & Johnson, Celgene, Capsule and BCG. She received her MBA in Marketing and Health Care Management from the Wharton School and her undergraduate degree in Management Information Systems from the University of Illinois at Urbana-Champaign.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Samir.jpg", class: "team-pic" %>	
			<h4 class="team-name-header">Samir Malik, MBA
 			<%= link_to 'https://www.linkedin.com/in/samirmm/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Samir is co-founder and General Manager of Genoa Telepsychiatry, the nation's largest outpatient telepsychiatry network. Genoa Telepsychiatry (fka 1DocWay) has served over 70,000 patients to date with its team of 200+ psychiatrists in 48 states. Previously he was CEO and Founder of ZipCare Transportation. Samir started his career at McKinsey & Co, focused on hospitals and health insurance companies. He is a graduate of The Wharton School at the University of Pennsylvania.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Ben.jpg", class: "team-pic" %>	
			<h4 class="team-name-header">Ben Chodor 
 			<%= link_to 'https://www.linkedin.com/in/ben-chodor-a52699/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Ben was Co-Founder & CEO of Happtique, a digital health marketplace, Founder of Stream57, and former Global Head of Streaming & Virtual Events at InterCall. Happtique was a joint venture with the Hospital Association of Greater New York and was acquired in 2014. Ben has spent his career pioneering online communications through interactive and streaming content, and founded Stream57 on his wealth of experience merging the healthcare, pharmaceutical, video and technology fields. After selling his company to the InterCall family in December 2009, Ben led the development arm of the company with his energetic & incomparable passion for technology.</p>  
			</div>
		</div>

		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Phil.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Phil Eskew, DO, JD, MBA <%= link_to 'https://www.linkedin.com/in/philip-eskew-do-jd-mba-07340132/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Philip is a "direct primary care" family physician and attorney. In June 2015 he was honored with the American Osteopathic Foundation's Outstanding Resident of the Year Award in Family Medicine. Phil serves as VP & General Counsel at Proactive MD; Site Medical Director at Corizon Health; and CEO at DPC Frontier. He has been researching direct primary care (DPC) models for many years, has been published on multiple occasions, and regularly speaks at national DPC events. Phil has advised state and federal legislators about DPC legislation, and is a member of the steering committee of the Direct Primary Care Coalition. He graduated from the West Virginia School of Osteopathic Medicine, the West Virginia University College of Law, the University of Kentucky Gatton MBA Program. Phil uses his diverse training to run his own DPC practice and support other DPC practices in the medical, legal, and policy arenas.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!--<%= image_tag ".jpg", class: "team-pic" %>-->	
			<h4 class="team-name-header">Bob Goodman, MD, PhD
 			<%= link_to 'https://www.linkedin.com/in/samirmm/', :target => "_blank" do %> <% end %></h4>
				<p class="team-bio-para">Robert is world renowned neurosurgeon and startup investor. He trained at Johns Hopkins University and has help leadership positions at Columbia University and Mount Sinai Health System. Bob has published hundreds of papers and has been named as one of America’s Top Doctors for nearly 20 years. He familiar with the inner workings of hospital systems as well as private practice and spends a lot of time thinking about healthcare economics.</p>  
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Lou.jpg", class: "team-pic" %>	
			<h4 class="team-name-header">Lou Kerner, MBA
 			<%= link_to 'https://www.linkedin.com/in/loukerner/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Lou is crypto advisor, blogger, and investor. Lou is a partner at Flight Ventures and Chameleon Collective. Previously he founded the Social Internet Fund. In 2000, Bill Gross of idealab! Recruited Lou to be CEO of The .tv Corporation, which commercialized the top level domain .tv, which was acquired by Verisign in 2002. Then, with one of the original founders, they acquired Bolt, a leading social networking site that grew to over 20 million monthly uniques. Lou started his career at Bain & Company and then Goldman Sachs. He holds a BA in Economics from UCLA and an MBA from Stanford.</p>  
			</div>
		</div>

		<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= image_tag "Adam.jpg", class: "team-pic" %>
			<h4 class="team-name-header">Adam Helfgott <%= link_to 'https://www.linkedin.com/in/adamhelfgott/', :target => "_blank" do %><%= image_tag "linkedin.png", class: "linked_img" %> <% end %></h4>
				<p class="team-bio-para">Adam is the founder and CEO of MadHive, a blockchain adtech company based in NYC. He raised a $3M seed round and is currently leading an initial coin offering. Adam has founded and sold multiple companies in the past including Lookbooks Media (acquired by Trunk Archive), Metrofunk.com (CTO), and  eCamp Messaging Services (acquired by Active Sports Networks). After graduating SUNY Albany, Adam started his career at Lockeed Martin.</p>  
			</div>

	</div><!-- end of container -->
	<br>
	<br>
</div>

		

