<!DOCTYPE html>
<html>
  <head>
    <title>SEETHRU</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'stfavicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105016608-1"></script>
		<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

 		gtag('config', 'UA-105016608-1');
		</script>

  </head>

  <body>

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
			    <div class="container">
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			        <%= link_to root_path do %>   
			    		<%= image_tag "SeeThrulogo2.png", class: "logo-pic" %>
			    		<% end %>
			        </div>
			        <!-- Collection of nav links and other content for toggling -->
			        <div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul class="nav navbar-nav navbar-right" id="pages">
			            	<li><%= link_to "Home", root_path %></li>
						        <li><%= link_to "Team", about_us_path %></li>
						        <li><%= link_to "Solution", our_solution_path %></li>
						        <li><%= link_to "Platform", foundation_path %></li>
						        <li><%= link_to "Blog", blog_path %></li>
						        <li><%= link_to "Get in Touch", contact_us_path %></li>
			            </ul>
			        </div>
			    </div><!-- Container End -->
			</nav>












    <%= yield %>

																	  <footer>
																				<div class="container">
																				<div class="col-md-12 col-lg-12 col-sm-12">

																					<div class="copy-inc"> &copy; 2017, SeeThru Inc.</div>
																				</div>
																				</div>
																	</footer>
</body>
</html>






